@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Michroma&display=swap');

:root {
    --primary-color: #333;
    --primary-font-size: 0.9rem;
    --light-grey: #d0d0d0;
    --dark-grey: #666;
    --nav-hover: #00ddff;
    --nav-active: #DEB887;
    --body-font: Helvetica, Arial, sans-serif;
    --heading-font: Lora;
}

body {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-family: var(--body-font);
    header {
        h1 {
            text-align: center;
            a {
                color: var(--primary-color);
                font-size: calc(var(--primary-font-size) * 4);
                text-align: center;
                text-decoration: none;
                font-family: Lora;
            }
        }
    }
    nav {
        border-top: var(--light-grey) 1px solid;
        border-bottom: var(--light-grey) 1px solid;
        ul {
            text-align: center;
            list-style: none;
            li {
                padding: .5rem;
            }
            a {
                text-decoration: none;
                color: var(--dark-grey);
                text-transform: uppercase;
                font-family: Lora;
            }
            a:active {
                color: var(--nav-active);
            }
            a:hover {
                color: var(--nav-hover);
            }
        }
    }
    article {
            h2 {
                &.post-date {
                    color: var(--primary-color);
                    border-bottom: var(--light-grey) 1px solid;
                    padding: 1rem;
                    text-transform: uppercase;
                    font-weight: lighter;
                    text-align: right;
                    font-family: Lora;
                }
                /* lets it know that the class is ATTATCHED to the h2, not inside */
            }
            a {
                text-decoration: none;
                color: var(--dark-grey);
            }
            .post-content {
                h2 {
                    color: var(--dark-grey);
                    margin: 1rem;
                    text-align: left;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-family: Lora;
                    font-size: calc(var(--primary-font-size) * 2);
                }
                p {
                    font-size: calc(var(--primary-font-size) * 1.5);
                    margin: 2rem;
                }
                figure {
                    text-align: center;
                    width: 100%;
                }
            }
        }
}
@media (min-width: 600px) {
    body {
        nav {
            ul {
                display: flex;
                justify-content: flex-end;
                font-size: larger;
            }
        }
        article {
            display: grid;
            grid-template-columns: 200px auto;
            h2 {
                &.post-date {
                    border-right: var(--light-grey) 1px solid;
                    border-bottom: none;
                }
            }
        }
    }
}