@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap");
:root {
    --mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
    --casl: "CASL" 0; /* Casual: Linear to Casual */
    --wght: "wght" 600; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
    --slnt: "slnt" 0; /* Slant: 0 to -15 degrees, auto cursive at -14 */
    --crsv: "CRSV" 0.5; /* Cursive: always roman (0), auto substitution (.5), or always cursive (1) */
}
* {
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
    var(--crsv);
}
body {
    max-width: 600px;
    margin: 0 auto;
    font-family: Recursive, sans-serif;
}
.alert-svg {
    width: 40px;
}
.alert-container {
    width: 40px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-self: center;
    align-self: center;
    svg {
        justify-self: center;
    }
}
.alert-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.alert-p {
    border-left: 2px solid gray;
    padding-left: 15px;
}