@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap");
:root {
    --mono: 0;
    --casl: 0;
    --wght: 400;
    --slnt: 0;
    --crsv: 0.5;
}

* {
    font-variation-settings: 
        "MONO" var(--mono), 
        "CASL" var(--casl), 
        "wght" var(--wght), 
        "slnt" var(--slnt),
        "CRSV" var(--crsv);
}
body {
    max-width: 600px;
    margin: 0 auto;
    font-family: Recursive, sans-serif;
}
h1, h2 {
    --wght: 700;
}
.alert-svg {
    width: 40px;
}
.alert-container {
    width: 40px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-self: center;
    align-self: center;
    svg {
        justify-self: center;
    }
}
.alert-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.alert-p {
    border-left: 2px solid gray;
    padding-left: 15px;
}
.bold {
    --wght: 800;
}