body {
    max-width: 600px;
    margin: 0 auto;
}
.alert-svg {
    width: 40px;
}
.alert-container {
    width: 40px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    svg {
        justify-self: center;
    }
}
.alert-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}